/*Styles généraux*/

:root {
    --primary-color: #307dbd;
    --secondary-color: #f0f0f0;
    --text-color: #333;
    --error-color: #e74c3c;
    --button-color: #3498db;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: #333 solid 2px;
    margin: 0;
    padding: 0;
    font-size: 28px;
  }
  
  button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.9;
  }
  /* Conteneur principal 
.app-container {
  
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    padding: 16px;
    box-sizing: border-box;
    justify-content: space-between; 
    margin: 0px 20%;
  }*/
  
  .toast {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color:var(--error-color) ;
    color:var(--secondary-color) ;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  
  .toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
  }
  

