.precision-container {
    margin-left: 24px; /* décale par rapport à l'option */
    margin-top: 4px;
    display: none; /* caché par défaut */
  }
  
  .precision-input {
    width: 90%;
    padding: 6px 8px;
    font-size: 14px;
    border: 1px solid #860909;
    border-radius: 4px;
  }
  