/* ===== Desktop ===== */
  /* Options */
  .multiple-choice-question .options-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .multiple-choice-question .options-container label{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 4px 0;
  }

  .multiple-choice-question .options-container span{
    font-size: 18px;
  }
 
  
  .multiple-choice-question .options-container input[type="checkbox"] {
    transform: scale(1.2);
  }
  
  /* ===== Tablette ===== */
  @media (max-width: 1024px) {
    .multiple-choice-question .multiple-choice-question {
      padding: 12px;
    }
  }
  
  /* ===== Mobile ===== */
  @media (max-width: 599px) {
 /*   .multiple-choice-question-label {
      flex-direction: column;
      align-items: flex-start;
    }*/
  }
  